html{
  height: 100%;
}
div {
  margin: 0;
  padding: 0;
}
body{
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
container {
  display: block;
  background-color: #acd6ff;
  width: 100%;
  height: 100%;
  // .topbar{
  //   display: block;
  //   height: 155/75rem;
  //   background-color: #000;
  // }
  .card {
    width: 630 / 75rem;
    height: 630 /75rem;
    background-color: red;
  }
  .bind {
    position: fixed;
    top: 160 / 75rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 608 /75rem;
    height: 830 /75rem;
    .title {
      background-image: url('../imgs/logo.png');
      margin: 0 auto;
      width: 536 /75rem;
      height: 105 /75rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}

