container {
  display: block;
  background-color: #acd6ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
    .get {
      margin: 179 / 75rem auto 0;
      width: 609 / 75rem;
      height: 757 / 75rem;
      .get-card {
        width: 563 / 75rem;
        height: 461 / 75rem;
        margin: 0 auto;
        .one {
          width: 100%;
          height: 416 / 75rem;
          background-color: #ffffff;
          border-radius: 8 / 75rem;
        }
        .two {
            margin: (25 - 402) / 75rem auto 0;
            width: 536 / 75rem;
            height: 402 / 75rem;
            background-color: #ffffff;
            -moz-opacity:0.8;  
            -khtml-opacity: 0.8;  
            opacity: 0.8;
            border-radius: 8 / 75rem;
        }
        .three {
            width: 466 / 75rem;
            height: 50 / 75rem;
            margin: (25-50) / 75rem auto 0;
            background-color: #ffffff;
            -moz-opacity:0.6;  
            -khtml-opacity: 0.6;  
            opacity: 0.6;
            border-radius: 8 / 75rem;
        }
      }
      .recieve {
        margin-top: 174 / 75rem;
        width: 100%;
        height: (757-461-174) / 75rem;
        background-color: #ffd940;
        color: #ffffff;
        font-size: 40 / 75rem;
        -webkit-appearance: none; //兼容ios
        border-radius: 8 / 75rem;
        border: none;
      }
    }
  .float {
    position: absolute;
    top: 178 / 75rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 325 /75rem;
    height: 241 /75rem;
    -moz-transform:scale(563/325,416/241); 
    -webkit-transform:scale(563/325,416/241); 
    -o-transform:scale(563/325,416/241); 
  }
  .b {
  }
}